---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
"The greatest obstacle to discovery is not ignorance! it is the illusion of knowledge" \n                  - Stephen Hawking 
<br>

<span style="font-size: 3.5rem; font-weight: bold;">അപ്പ എങ്ങനാ ചങ്കേ പൊളിക്കുവല്ലേ?</span>

<br>

An open Research Framework Initiation by Mr. [Vishnu Murali](https://www.instagram.com/vishnu___murali?igsh=MzN6NTdmYTh6ZWEy) and Mr. [Alex. Ocean](https://www.instagram.com/alexmjocean?igsh=MW5kZGRobnozbDZ6eg==)
`;
---

<Layout title="Welcome to Astro.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Science Education and Business Initiative </h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://www.photopea.com/" class="btn btn-lg sm:min-w-64">Photopea</a>
    </p>
</Layout>
